.high-contrast {
    --deckDisplay: url("../assets/images/decks/deck-hc.png");
    --deckDisplayInverted: url("../assets/images/decks/inverted-deck-hc.png");
}

/* PLAYER CARDS */

.player-card-inactive {
    transform: scale(1.91);
    z-index: 9;

    transition: transform calc(var(--gameSpeed) * 0.15s) ease;
}

.player-card-inactive:hover {
    transform: scale(2);
    z-index: 10;
}

/* CARD STUFF */

.card-wrapper {
    position: fixed;
    width: 1000px;
    translate: -50% -50%;
    display: inline-block; /* keeps wrapper sized to cards */
    padding: 10px;
    background: #00000035;
    border-radius: 12px;

    bottom: 50px;
}
.card {
    width: 35px;
    height: 47px;
    background-image: var(--deckDisplay);
    background-size: 534px 188px; /* spritesheet size */
    display: inline-block;
    background-color: #eee;
    border-radius: 1px;
}
.inverted-card {
    width: 35px;
    height: 47px;
    background-image: var(--deckDisplayInverted);
    background-size: 534px 188px; /* spritesheet size */
    display: inline-block;
    background-color: #444;
    border-radius: 1px;
}

.playing-card {
    transform: scale(3.7) translateY(calc(var(--offsetAmount) * 1px)) rotate(calc(var(--rotateAmount) * 1deg));
    /*translate: (-50% 0); */
    margin-left: 15px;
    margin-right: 15px;

    /* Animation setup */
    transition: transform calc(var(--gameSpeed) * 0.15s) ease, background-color calc(var(--gameSpeed) * 0.15s) ease, box-shadow calc(var(--gameSpeed) * 0.15s) ease;
    transform-origin: center bottom;
    z-index: 9;

    border: none;
    border-radius: 1px;

    
    box-shadow: 3px 3px 1px #22222210, -1px -1px 1px #ffffff02;
}
.inverted-card.playing-card {
    background-color: #222;
}

.playing-card:hover {
    transform: scale(3.9) translateY(-6px);
    translate: (-50% -6px);
    /*box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); */
    background-color: #ecc350ee;

    box-shadow: 3px 4px 1px #22222210, -1px -1px 1px #ffffff02;
    
    cursor:pointer;
}
/*
.inverted-card.playing-card:hover {
    background-color: #133cafee;
}*/

/* going to use later to describe special cards */
/*
.playing-card:hover::before, .playing-card-selected:hover::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 0px;
    width: 100%;
    height: 10px;
    text-align: center;
    background-color: inherit;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    font-size: 8px;
    font-family: depixel;
}*/

.playing-card-selected {
    position: relative;
    transform: scale(3.9) translateY(-8px);
    translate: (-50% -6px);
    margin-left: 15px;
    margin-right: 15px;
    /*box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); */
    background-color: #ecc350ee;
    border-radius: 1px;
    
    transition: transform 0.15s ease, background-color 0.15s ease, box-shadow 0.15s ease;
    transform-origin: center bottom;
    border: none;

    box-shadow: 4px 6px 1px #22222210, -1px -1px 1px #ffffff05;
}

.playing-card-selected.first-selected {
    background-color: #50eccaee;
}

/*
.inverted-card.playing-card-selected {
    background-color: #133cafee;
}

.inverted-card.playing-card-selected.playing-card-selected.first-selected {
    background-color: #AF1335ee;
}*/

@keyframes move-card-under-screen {
    0% { transform: scale(3.9) translateY(-8px);
        translate: (-50% -6px); }
    100% { transform: scale(3.9) translateY(100px);
        translate: (-50% -6px); }
}

.move-under-screen {
    transform: scale(3.9) translateY(100px);
    translate: (-50% -6px);

    animation: move-card-under-screen calc(var(--gameSpeed) * 0.5s) ease-in;
}

/* card numbers */
.zero { background-position-x: 0; }
.two { background-position-x: -35px; }
.three { background-position-x: -70px; }
.four { background-position-x: -105px; }
.five { background-position-x: -140px; }
.six { background-position-x: -175px; }
.seven { background-position-x: -210px; }
.eight { background-position-x: -245px; }
.nine { background-position-x: -280px; }
.ten { background-position-x: -315px; }
.jack { background-position-x: -350px; }
.queen { background-position-x: -385px; }
.king { background-position-x: -420px; }
.ace { background-position-x: -455px; }

/* suits */
.hearts { background-position-y: 0; }
.clubs { background-position-y: -47px; }
.diamonds { background-position-y: -94px; }
.spades { background-position-y: -141px; }