/* CENTER BOARD STUFF */
.card-pile {
    position: fixed;
    transform: translate(-50%, -50%) scale(3);
    top: 50%;

    transition: transform 0.15s ease;
    transform-origin: center;
}

.card-pile:hover {
    transform: translate(-50%, -50%) scale(4.2);

    transition: transform 0.15s ease;
}

.dark-draw {
    left: 10%;
}

.draw-pile {
    content: "";
}

.draw-pile:hover::after {
    content: var(--afterText);
    position:absolute;
    inset: 0;
    background-color: #33333380;
    filter: blur(0.1px);
    backdrop-filter: blur(1px);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    color: white;
}

.dark-discard {
    left: 30%;
    animation: dark-center-animation-end 0.5s ease;
}

.light-discard {
    left: 70%;
    animation: light-center-animation-end 0.5s ease;
}

.light-draw {
    left: 90%;
}

.light-center {
    left: 50%;
    transform: translate(-50%, -50%) scale(4);
    animation: light-center-animation-start 0.5s ease;
    transform-origin: center;
}

.dark-center {
    left: 50%;
    transform: translate(-50%, -50%) scale(4);
    animation: dark-center-animation-start 0.5s ease;
    transform-origin: center;
}

.visual-hint-card {
    opacity: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(4);
    animation: center-pile-hint 3s ease-in-out infinite;
    pointer-events: none;
}

/* -------------------------------- ANIMATIONS ---------------------------------- */

@keyframes light-center-animation-start {
    0% {
        left: 70%;
        transform: translate(-50%, -50%) scale(3);
    }
    100% {
        left: 50%;
        transform: translate(-50%, -50%) scale(4);
    }
}

@keyframes light-center-animation-end {
    0% {
        left: 50%;
        transform: translate(-50%, -50%) scale(4);
    }
    100% {
        left: 70%;
        transform: translate(-50%, -50%) scale(3);
    }
}

@keyframes dark-center-animation-start {
    0% {
        left: 30%;
        transform: translate(-50%, -50%) scale(3);
    }
    100% {
        left: 50%;
        transform: translate(-50%, -50%) scale(4);
    }
}

@keyframes dark-center-animation-end {
    0% {
        left: 50%;
        transform: translate(-50%, -50%) scale(4);
    }
    100% {
        left: 30%;
        transform: translate(-50%, -50%) scale(3);
    }
}

@keyframes center-pile-hint {
    0% { opacity: 5%; }
    30% { opacity: 5%; }
    50% { opacity: 80%; }
    70% { opacity: 5%; }
    100% { opacity: 5%; }
}