#help-container {
    position: fixed;
    top: 115px;
    left: 5px;
    width: 75px;
    height: 50px;
    background-color: rgb(25, 135, 168);
    border-radius: 12px;
    padding: auto;
    box-shadow: 
                4px 4px 3px #22222220, 
                -1px -1px 3px #ffffff10;
    overflow: hidden;

    transition: 
                all 0.15s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

#help-container:hover {
    width: 300px;
    height: 275px;
    padding: 20px;

    display: block;
    background-color: rgba(25, 135, 168, 0.749);
}

#help-button {
    border-radius: 12px;
    width: 100%;
    height: 32px;
    font-family: depixel;
    font-weight: bold;
    background-color: #eee;
}

#help-button:hover { background-color: #ddd; }
#help-button:active { background-color: #ccc; }



.no-display {
    display: none !important;
}