#settings-table {
    text-align: left;
}

#settings-overlay {
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#settings-overlay.events-activated {
    pointer-events: auto;
    background-color: #22222280;
}

.back-button {
    width: 100%;
    height: 30px;
    border-radius: 12px;
    font-size: 12px;
    font-family: depixel;
}

#game-speed-modifier {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#game-speed-container {
    padding: 12px;
    vertical-align: center;
}

.game-speed-button {
    font-weight: bolder;
    font-size: 20px;
    font-family: depixel;
    border-radius: 50%;
    background-color: #eeeeee;
    border: black solid 1px;
    width: 60px;
    height: 60px;
}